<a href="/#/mms-document-detail" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add document</a> <br/><br/>

<form class="form-horizontal well">
    <div class="form-group">
        <div ng-hide="isAvailableResults()">
            <div class="row text-center hidden-xs">
                <!-- <img src="resources/img/mms-document.png" alt="MMS-DOCUMENT Logo" /><br/> -->
                
                <img src="http://lorempixel.com/300/150/nature/1/" alt="MMS-DOCUMENT Logo" /><br/>
                
                <br/>
            </div>
        </div>
        <label id="search-input-label" class="col-sm-3 control-label">Keywords</label>
        <div class="col-sm-6">
            <input type="text" class="form-control"  placeholder="enter tags search" ng-model="searchText"
                   typeahead="album for album in autocomplete($viewValue) | filter:$viewValue" />
        </div>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary" ng-click="fullTextSearch(searchText, 1)">Search</button>
        </div>
    </div>
</form>
